<div container-fluid>
<table class="table">
<h1>Contact Customer Support</h1>
<h4>Customer Support: 1-800-000-0000</h4>
<h4>Customer Support: help@support.com</h4>
<h4>International Customer Support: +41 1-800-000-0000</h4>
</table>
</div>