
.navbar {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:red;
    background-color: rgb(62, 65, 69);
    font-weight: bold;
    font-size: 20px;
}
/* .userTitle {
    margin-left: 20%;
} */
#users {
    text-decoration: none;
}
.stuser {
    text-decoration: none;
}
/* .aboutus {
    justify-content: center;
} */
/* .nav-link{
    display: flex;
    flex-direction: row;
    color:white;
    font-size: 20px;
} */
/* .directionnavbar {
    margin-left: 0%;
} */
